<html>
<style type="text/css">
<!--
.style1 {font-family: "Comic Sans MS"}
#Layer1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
	left: 176px;
	top: 21px;
}
#Layer2 {
	position:absolute;
	width:200px;
	height:75px;
	z-index:1;
	left: 161px;
	top: 12px;
}
-->
</style>

<body bgcolor = #9BCDDB >


<p class="style1">Kedves Admin!<br><br>
A tarhely elkeszult: <b>azonosito</b><br>
A hozza tartozo domain: <b>dmn</b><br>
<table class="style1">
<tr><td>A domain nev A rekordjait modositani kell a kovetkezore:</td><td><b>domain IN A 188.227.227.68</b></td></tr>
<tr><td></td><td><b>www.dmn IN A 188.227.227.68</b></td></tr>
<tr><td>Az FTP hasznalatahoz be kell allitani a domain DNS-ben a kovetkezo A rekordot:</td><td><b>azonosito.ftp.mintalap.hu IN A 188.227.227.68</b></td></tr>
<tr><td>Ha a levelezest is nalunk kezeli az ugyfel az MX rekordot modositani kell a kovetkezore:</td><td><b>dmn IN MX 10 mx.mereszpingvin.net.</b></td></tr></table><br><br>
<table class="style1" border="0"><tr><td><b>FTP adatok:</b></td></tr>
<tr><td colspan="2"><hr></td></tr>
<tr><td>FTP kiszolgalo:</td><td><b>azonosito.ftp.mintalap.hu</b></td></tr>
<tr><td>FTP port:</td><td><b>21</b></td></tr>
<tr><td>FTP felhasznalo nev:</td><td><b>azonosito</b></td></tr>
<tr><td>FTP jelszo:</td><td><b>ftppasswd</b></td></tr></table>
</p><br>

<p>A webmail feluletet a kovetkezo cimen lehet elerni:<a href="https://webmail.dmn" target="_blank">https://webmail.dmn</a></p>
A tarhely merete:<b>50MB</b><br><br>
Udvozlettel:<br>
A Hosting Script
</body>
</html>
