<html>
<style type="text/css">
<!--
.style1 {font-family: "Comic Sans MS"}
#Layer1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
	left: 176px;
	top: 21px;
}
#Layer2 {
	position:absolute;
	width:200px;
	height:75px;
	z-index:1;
	left: 161px;
	top: 12px;
}
-->
</style>

<body bgcolor = #9BCDDB >


<p class="style1">Kedves Admin!<br><br>
A dname atiranyitasa megtortent a URL cimre.<b></b><br>

Udvozlettel:<br>
A Hosting Script
</body>
</html>
